<!-- <div class="actions"> -->
<button id="untab{{{id}}}" class="btn btn-danger btn-xs untab">UN</button>
<button id="tab{{{id}}}" class="btn btn-success btn-xs tab">TAB</button>
<!-- </div> -->
<!-- <div class="highlight"></div> -->
<!-- <div class="dropTarget"></div> -->
<div id="noteContent{{{id}}}" class="noteContent">{{{indent}}}{{{title}}}</div>
<button id="destroy{{{id}}}" class="destroy"></button>
<div class="note-descendants"></div>
