<header>
<nav class="navbar-fixed-top" role="navigation">
	<div class="navbar-header row">
		<div class="col-xs-1 xs-toggle-left">
			<button type="button" class="btn btn-info btn-xs sidr-toggle-left">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
		</div><div class="col-xs-9 col-sm-12 logo">
			<h2 class="logo-name visible-xs">Notable</h2>
			<%= link_to image_tag("logo/header_down.png", alt: "Notable",
				 class: "logo-icon visible-sm"), root_path %>
			<%= link_to image_tag("logo/header_up.png", alt: "Notable",
				 class: "logo-icon visible-md visible-lg"), root_path %>
		</div><div class="col-xs-2 xs-toggle-right">
			<button type="button" class="btn btn-info btn-xs sidr-toggle-right">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
		</div>
	</div>

<% unless controller_name == 'registrations' %>
	<ul class="nav navbar-nav navbar-right hidden-xs">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-play"></span>
			</a>
			<ul class="dropdown-menu">
			<% if current_user.token_credentials? %>
				<li><%= link_to("Sync Now", sync_path) %></li>
			<% else %>
				<li><%= link_to("Connect to Evernote", start_path) %></li>
			<% end %>
				<li><a href="#">Help</a></li>
				<li><%= link_to("Settings", edit_user_registration_path) %></li>
				<li><a href="http://getnotable.uservoice.com/">Give Feedback</a></li>
			<% if current_user.admin? %>
				<li><%= link_to "Admin Console", evernote_index_path %></li>
			<% end %>
				<li role="presentation" class="divider"></li>
				<li><%= link_to("Sign Out", destroy_user_session_path, {method: :delete}) %></li>
			</ul>
		</li>
	</ul>
	<form class="navbar-search navbar-right hidden-xs" role="search">
		<input type="text" class="form-control" placeholder="Search">
		<span  class="glyphicon glyphicon-search search-btn"></span>
	</form>
<% end %>

</nav>
</header>
