<% if user_signed_in? %>
	<%= render 'scaffold/header_in' %>
	<div class="container">
		<%= render 'layouts/flash_msg' %>
		<div id="message-region"></div>
		<div id="content-region"></div>
		<div id="sidebar-region"></div>
	</div>
	<%= render 'layouts/uservoice' %>
<% else %>
	<%= render 'scaffold/header_out' %>
	<%= render 'layouts/landing' %>
<% end %>