<%= render 'scaffold/header_out' %>
<div class="container" id="user-form">
	<h2>Sign in</h2>

	<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	  <%= f.email_field :email, autofocus: true %>
	  <%= f.password_field :password %>
	  <%= f.check_box :remember_me %>

	  <%= f.submit "Sign in", class: "btn btn-submit" %>
	<% end %>

  <%= link_to "Forgot your password?", new_password_path(resource_name),
   class: "pull-right" %>
</div>
