<div class="container">
	<h2>Evernote API Results</h2>
	<p>Username: <%= @user.username %></p>
	<p>Notebook: <%= @notebooks[1].name %></p>
	<p>Note Count: <%= @note_count %> </p>
	<p>Notebook Count: <%= @notebook_count %> </p>
	<%= link_to("Go back home", root_path) %>
</div>

