<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Notable</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= analytics_init if Rails.env.production? %>
  <%= render 'layouts/tracking' if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
